/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typographic here */
/* line 61, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 125%;
}

/* line 64, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 20px;
  line-height: 1.5em;
}

/* line 10, ../_sass/type.scss */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 14, ../_sass/type.scss */
body:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 1.5em;
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top;
}

/* line 18, ../_sass/type.scss */
h1, .h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 21, ../_sass/type.scss */
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.71429em;
}

/* line 24, ../_sass/type.scss */
h3, .h3 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 27, ../_sass/type.scss */
h4, .h4 {
  font-size: 1.33em;
  line-height: 2.25564em;
}

/* line 30, ../_sass/type.scss */
h5, .h5 {
  font-size: 1.1667em;
  line-height: 1.28568em;
}

/* line 34, ../_sass/type.scss */
h1, h2, h3, h4, h5 {
  padding-top: 0.75em;
}

/* line 38, ../_sass/type.scss */
p {
  padding-bottom: 0.75em;
}

@media (min-width: 768px) {
  /* line 5, ../_sass/grid.scss */
  .row {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 10, ../_sass/grid.scss */
  .col-md-2 {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 13, ../_sass/grid.scss */
  .col-md-4 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 16, ../_sass/grid.scss */
  .col-md-6 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 19, ../_sass/grid.scss */
  .col-md-8 {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 22, ../_sass/grid.scss */
  .col-md-10 {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 26, ../_sass/grid.scss */
  .omega {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
  }
}
