---
layout: default
title: TEST
---

<div class="container">

  <header>
    <div class="row">
      <h1>Barocktanztraining für Anfänger und Fortgeschrittene</h1>

      <p class="h3">with <a href="#">Bernd Niedecken</a>, <a href="#">Pia Brocza</a></p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="h3">4 October 2013 - 4 October 2013</p>
      </div>
      <div class="col-md-4">
        <p class="h3">Vienna, Austria</p>
      </div>
    </div>
  </header>  
  
  <!-- BEGIN MAIN CONTENT ROW -->
  <article class="row">
    <div class="col-md-6">


      <p><strong>Anfänger</strong> können ab 4. Oktober bei Pia Brocza die Grundlagen des barocken Tanzstils lernen. Dieser Basiskurs findet an Freitagen (14-tägig) von 17.00 bis 17.50h statt. Anfänger, die noch etwas mehr üben wollen, können jeweils im Anschluß daran das Körpertraining (18-18.50h) besuchen.</p>
      <p>Für <strong>Fortgeschrittene</strong> und <strong>Anfänger mit guten Vorkenntnissen</strong> eignet sich das Barocktanztraining&nbsp; (18-20h, 14-tägig, ab 4. Oktober). Nach Körpertraining und Tanztechnik wird hier an ausgewählten Passagen barocker Choreographien gearbeitet, beginnend mit dem Paartanz <em>L‘ Allemande</em> von L. G. Pécour zu Musik von A. Campra.</p>
      <p>Die genauen Kursbeschreibungen finden sich auf der zeitenTANZ-Website unter „Kurse und Workshops – Barocktanztraining“!</p>

    </div>
    <div class="col-md-4">
      <img src="http://placekitten.com/g/300/200" style="width: 99.5%" /> 

      {% include early-contact-address-1.html %}

    </div>
    <div class="col-md-2 omega">
      <!-- tags -->
      <a class="label label-primary" href="#">All levels</a>
      <a class="label label-primary" href="#">Baroque</a>
      <a class="label label-primary" href="#">Ongoing classes</a>

    </div>


  </article>
  <!-- BEGIN MAIN CONTENT ROW -->

  <!-- BEGIN MIDDLE ROW -->
  <div class="row">
    <div class="col-md-10">
      {% include early-venue-address.html %}
    </div>
  </div>
  <!-- END MIDDLE ROW -->

  <div class="row">
    <div class="col-md-10">
      <h1>Heading h1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, consequuntur, necessitatibus autem commodi doloribus hic ducimus doloremque architecto consequatur nihil laborum labore nisi ratione quas iure eius veniam laudantium consectetur harum adipisci alias sequi enim. Suscipit, fugiat magni perferendis voluptas?</p>
      <h2>Heading h2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, asperiores laboriosam ipsa accusantium laborum debitis unde consequatur inventore iure corporis. Aspernatur, assumenda, in, sed neque nesciunt harum quam facilis officiis enim quasi ducimus minus necessitatibus sint vel voluptatum consequatur esse sapiente mollitia aliquid est blanditiis incidunt alias magni distinctio molestiae odit culpa possimus nostrum quidem quia natus consectetur iure accusantium.</p>
      <h3>Heading h3</h3>
      <h4>Heading h4</h4>
          </div>
  </div>

</div>